<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AoETechTreeTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <userSettings>
    <AoETechTreeTool.Properties.Settings>
      <setting name="_dll1Checked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_dll2Checked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_dll3Checked" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_datPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="_dll1Path" serializeAs="String">
        <value/>
      </setting>
      <setting name="_dll2Path" serializeAs="String">
        <value/>
      </setting>
      <setting name="_dll3Path" serializeAs="String">
        <value/>
      </setting>
    </AoETechTreeTool.Properties.Settings>
  </userSettings>
</configuration>
